
<div class="footer">
    <a class="home1" href="/user">Home</a>
    <div class="dropdown1">
        <button class="dropbtn1">Our Services</button>
        <div class="dropdown-content1">
            <a href="/services/one" target="_blank">Alternative medicine</a>
            <a href="/services/two" target="_blank">Replacement medications</a>
            <a href="/services/three" target="_blank">Medicine information</a>
        </div>
    </div>
</div>
<h6 class="footer-tex">
    © 2024 Adwity. All rights reserved.
</h6>
