<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="/assets/CSS/Normalize.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="/assets/CSS/all.min.css">
    <link rel="stylesheet" href="/assets//Css/change-pass-user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <img class="logo" src="/assets/img/logo.png" alt="">
    <h1 class="change-user">Change Password</h1>
    <form id="myForm">
        <input type="password" class="Pw1" id="password1" name="password" placeholder="New password" required>
        <br><br>
        <input type="password" class="Pw2" id="password2" name="repassword" placeholder="Re-enter new password" required>
        <br><br>
        <input type="submit" value="Save">
    </form>
    <i id="eyeicon1" class="fa fa-eye-slash" aria-hidden="true" style="width: 25px; position: absolute; top: 320px; right: 685px;"></i>
    <i id="eyeicon2" class="fa fa-eye-slash" aria-hidden="true" style="width: 25px; position: absolute; top: 320px; right: 300px;"></i>
    <script>
        let eyeicon1 = document.getElementById("eyeicon1");
        let password1 = document.getElementById("password1");
        eyeicon1.onclick = function () {
            if (password1.type == "password") {
                password1.type = "text";
            } else {
                password1.type = "password";
            }
        }

        let eyeicon2 = document.getElementById("eyeicon2");
        let password2 = document.getElementById("password2");
        eyeicon2.onclick = function () {
            if (password2.type == "password") {
                password2.type = "text";
            } else {
                password2.type = "password";
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#myForm').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Create a new FormData object
                var formData = new FormData();

                // Serialize the form and append each form field to the FormData object
                $(this).find('input, textarea, select').each(function () {
                        // Append other form fields to the FormData object
                        formData.append($(this).attr('name'), $(this).val());
                });

                // Send AJAX request
                $.ajax({
                    type: 'post',
                    url: '/apis/changepassword',
                    data: formData,
                    contentType: false, // Ensure jQuery does not set the Content-Type
                    processData: false, // Prevent jQuery from processing the data
                    success: function (response) {
                        // Handle success response
                        if (response.code == 200) {
                            confirm("password Has Been Changed");
                        } else {
                            console.log("error");
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>

</body>
</html>