<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="/assets/CSS/Normalize.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="/assets/CSS/home-user.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
<body>
    <img class="logo" src="/assets/img/logo.png">
    <img class="home-img" src="/assets/img/home user1.jpeg">
    <a class="home" href="/user">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Our Services</button>
        <div class="dropdown-content">
            <a href="/services/one" target="_blank">Alternative medicine</a>
            <a href="/services/two" target="_blank">Replacement medications</a>
            <a href="/services/three" target="_blank">Medicine information</a>
        </div>
    </div>

    <div class="dropdown-container">
        <button class="dropdown-toggle">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/user/changepassword">Change Password</a></li>
            <li><a href="/home/logout">Logout</a></li>
        </ul>
    </div>
    <div class="div1"></div>
    <div class="div2"></div>
    <h2>We provide medicines <br> and medical supplies to <br> everyone</h2>
    <input type="search" placeholder="Type your medicine name" required>
    <a href="/services/one" target="_blank">
        <button class="search1">Search</button>
    </a>
    <div class="page2">
        <a href="/services/one" target="_blank">
            <div class="serv1">1.Alternative  <br>medicine</div>
        </a>
        <a href="/services/two" target="_blank">
            <div class="serv2">
                2.Replacement
                medications
            </div>
        </a>
        <a href="/services/three" target="_blank">
            <div class="serv3">
                3.Information about
                any medicine
            </div>
        </a>
        <h1>
            All The <br> Service <br>
            You Will Get
        </h1>
        <h3>
            It’s important to address your health <br>
            conditions during medications for <br> the best substance.
        </h3>
        <h4>
            Why We Are
            <br> Better
        </h4>
        <h5>Because we include all pharmacies available in <br> Egypt ,as well as alternative medicines.</h5>
    </div>
    <img class="user-img" src="/assets/img/home user (2).png">
    @Html.Partial("footer")
    @if (Session["first"] != null)
    {
        Session["first"] = null;
        <script>
            $(document).ready(function () {
                swal.fire("welcome", "welcome back", "success");
            });
        </script>
    }
</body>
</html>