/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: 'Hedvig Letters Serif', 'Merriweather';
  background-color: rgba(240, 240, 240, 1);
  overflow: auto;
  min-height: 100vh;
  align-items: center;
}

.logo {
  width: 250px;
  position: absolute;
  left: 35px;
  top: -30px;
}

.welcome {
  width: 480px;
  position: absolute;
  left: 150px;
  top: 80px;
}

.login {
  right: 150px;
  position: absolute;
  top: 35%;
  border-radius: 32px;
  border: 10px;
  background-image: linear-gradient(to bottom, rgba(78, 119, 240, 1), rgba(94, 117, 185, 1), rgba(95, 117, 182, 1), rgba(115, 115, 115, 1));
  padding: 70px 10px;
  margin-top: -140px;
  margin-left: 850px;
  width: 309px;
  height: 450px;
  text-align: center;
}

.icon-user {
  width: 50px;
  top: 18%;
  left: 79.5%;
  position: absolute;
}

input[type=text],
input[type=password],
input[type=submit],
button {
  background-color: rgba(217, 217, 217, 1);
  width: 255px;
  padding: 5px 38px;
  border-radius: 32px;
  height: 40px;
  cursor: pointer;
}

input[type=submit],
button {
  color: rgba(0, 0, 0, 0.64);
  font-weight: bold;
  font-size: 20px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background: rgba(145, 179, 250, 1);
  width: 500px;
  max-width: 80%;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  height: 200PX;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  text-align: center;
  color: #222;
  margin: -20px 160px 10px ;
  font-size: 25px;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0px -15px 100px ;
}


#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.identity {
  background-color: rgba(217, 217, 217, 1);
  width: 250px;
  padding: 5px 38px;
  border-radius: 32px;
  height: 40px;

}
button{
  position: absolute;
  left: 1170px;
  top: 480px;
}