<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Medicine</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
    <!-- Render All Elements Normally -->
    <link rel="stylesheet" href="/assets/CSS/Normalize.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="/assets/CSS/all.min.css">
    <link rel="stylesheet" href="/assets/Css/new-medicine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <img class="logo" src="/assets/img/logo.png" alt="">
    <nav class="header">
        <ul>
            <li><a href="/pharmacy" target="_blank">Home</a></li>
            <li><a href="/pharmacy/newmedicine">New Medicine</a></li>
        </ul>
    </nav>
    <div class="dropdown-container">
        <button class="dropdown-toggle">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/user/changepassword">Change Password</a></li>
            <li><a href="/home/logout">Logout</a></li>
        </ul>
    </div>
    <form id="myForm" enctype="multipart/form-data">
        <label for="Medicament" style="position: fixed; top: 27%;
    left: 16%;">Medicament name</label>
        <input type="text" id="Medicament" name="name" required><br><br>
        <label for="Effective" style="position: fixed;
    top: 27%;
    left: 40%;">Effective material</label>
        <input type="text" id="Effective" name="material" required><br><br>
        <label for="Quantity" style="position: fixed;
    top: 27%;
    left: 64%;">Quantity</label>
        <input type="number" id="Quantity" name="quantity" required><br><br>
        <label for="Production" style=" position: fixed;
    top: 47%;
    left: 16%;">Production date</label>
        <input type="date" id="Production" name="production" required><br><br>
        <label for="Expiration" style=" position: fixed;
    top: 47%;
    left: 40%;">Expiration date</label>
        <input type="date" id="Expiration" name="expiration" required><br><br>
        <label for="Price" style="position: fixed;
    top: 47%;
    left: 64%;">Price</label>
        <input type="number" id="Price" name="price" required><br><br>
        <label for="Photo" style="position: fixed;
    top: 68%;
    left: 16%;">Photo of medicine</label>
        <input type="file" id="Photo" name="img" required><br><br>
            <input type="submit" class="add" value="Add"><br><br>
            <input type="button" class="new" onclick="window.location.reload()" value="New"><br><br>


    </form>

    <script>
        $(document).ready(function () {
            $('#myForm').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Create a new FormData object
                var formData = new FormData();

                // Serialize the form and append each form field to the FormData object
                $(this).find('input, textarea, select').each(function () {
                    // Check if the current element is an input file
                    if ($(this).attr('type') === 'file') {
                        // Get the files from the input file element
                        var files = $(this)[0].files;

                        // Append each file to the FormData object
                        for (var i = 0; i < files.length; i++) {
                            formData.append($(this).attr('name'), files[i]);
                        }
                    } else {
                        // Append other form fields to the FormData object
                        formData.append($(this).attr('name'), $(this).val());
                    }
                });

                // Send AJAX request
                $.ajax({
                    type: 'post',
                    url: '/apis/newmedicine',
                    data: formData,
                    contentType: false, // Ensure jQuery does not set the Content-Type
                    processData: false, // Prevent jQuery from processing the data
                    success: function (response) {
                        // Handle success response
                        if (response.code == 200) {
                            console.log(response);
                        } else {
                            console.log("error");
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>

</body>
</html>